{% load static %}
{% load navbar_tags %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class = "col-3 col-lg-2 row "><a class="navbar-brand" href="/" >
          <img class = "img-fluid" src="{% static 'common/png/logo_halfsize.png' %}" alt="Golden Shoe"> 
        </a>
      </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item ">
   
                
              <a class="nav-link active fs-5" href="/men/" type="button" class="btn">
                WOMEN
              </a>
                
           
          </li>
          <li class="nav-item ">
            
                
                <a class="nav-link active fs-5" href="/men/" type="button" class="btn">
                  MEN
                </a>
                
              
              
          </li>
          
          <li class="nav-item">
            <a class="nav-link btn" href="{% url 'basket' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                
              </svg>{% if user.is_authenticated %}
              <span class="badge rounded-pill bg-light text-dark" id="basket_count" {% if user|basket_items_count == 0 %}hidden{% endif %}>{{user|basket_items_count}}</span>
              {%endif%}
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link btn" href="{% url 'user_account' %}"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg></a>
          </li>
         {%else %}
         <li class="nav-item">
          <a class="nav-link btn" href="{% url 'sign_up' %}"> Sign Up</a>
        </li>
         <li class="nav-item">
          <a class="nav-link btn" href="{% url 'login' %}"> Login</a>
        </li>
        {%endif%}
        </ul>
       
      </div>
    </div>
  </nav>